# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/

# Environment variables
.env
.env.local

# Logs
*.log

# Uploads & Media
uploads/*
!uploads/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
